[Desktop Entry]
Encoding=UTF-8
Name=AllGamesCoin
Comment=AllGamesCoin P2P Cryptocurrency
Comment[fr]=AllGamesCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AllGamesCoin, eşten eşe kriptografik sanal para birimi
Exec=allgamescoin-qt %u
Terminal=false
Type=Application
Icon=allgamescoin128
MimeType=x-scheme-handler/allgamescoin;
Categories=Office;Finance;
