[Desktop Entry]
Encoding=UTF-8
Name=Allgamescoin
Comment=Allgamescoin P2P Cryptocurrency
Comment[fr]=Allgamescoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Allgamescoin, eşten eşe kriptografik sanal para birimi
Exec=allgamescoin-qt %u
Terminal=false
Type=Application
Icon=allgamescoin128
MimeType=x-scheme-handler/allgamescoin;
Categories=Office;Finance;
